* {
   
    box-sizing: border-box;
}

body{
  margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;

}

.has-bg-img {
  background: url('src/images/header-image.jpg')center center; background-size:cover;

}